@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Sancreek&display=swap');
@font-face {
   font-family: "HouseOfTheDragon";
   src: url("polices/HouseOfTheDragon.otf");
}
/* 
    probable titres: 'New Rocker', cursive;
    textes: 'Sancreek', cursive;
    titre: 'HouseOfTheDragon';
*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Sancreek', cursive;
    background: url("images/test.jpeg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* PC "Standard" */
/* header */
#burger,#imgInscrV, ul
{
    display: none;
}
#head, #foot
{
    background: url("images/headFoot.jpeg");
    width: 100%;
    height: 8.5em;
    font-family: 'HouseOfTheDragon';
}
#titre
{
    display: flex;
    justify-content: center;
}

#draconomicon
{
    width: auto;
    height: 6em;

}
nav
{
    display: flex;
    justify-content: space-around;
}
a
{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a img
{
    width: 7em;
    height: 4em;
    position: absolute;
    z-index: 2;
}
.longP
{
    width: 10em;
}
a p
{
    position: absolute;
    z-index: 3;
    font-size: 1.5em;
    font-weight: 400;

}

.ongletFocus
{
    z-index: 1;
    margin-top: 5em;
    visibility: hidden;
}

/* footer */
/* Il y en a aussi en haut avec le head */

footer
{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h3
{
    color: black;
    text-shadow: 1px 1px 0 #E02232;
    font-size: 2em;
    font-weight: 400;
}

#secInscr ~ #foot
{
    position: absolute;
    bottom: 0;
}
/* container */
#container
{
    display: none;
}
/* Connexion/Inscription */
section
{
    width: 100%;
    height: 100%;
}
#secInscr
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    width: 100%;
    height: 100%;
}

#secInscr label
{
    font-size: 1.5em;
}
#secInscr input:not(.check)
{
    width: 20em;
    height: 2.5em;
    border: black 2px solid;
    background-color: rgba(0, 0, 0, 0.687); 
    border-radius: 8px;
}
#deco
{
    position: absolute;
    top: 3.5em;
    display: flex;
    justify-content: center;
    align-items: space-between;
    z-index: 1;
}
#decoG, #decoD
{
    width: 20em;
    height: auto;
}
#decoD
{
    transform: rotateY(3.142rad);
}
#imgInscr
{
    z-index: 2;
    width: 80em;
    height: 38em;
    /* height: 50em; */
}
.formTitre
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 3;
    /* width: 50em; */
}
#inscription
{
    display: grid;
    flex-wrap: wrap;
    width: 50em;
}
.titre
{
    font-family: "HouseOfTheDragon";
    font-weight: 400;
    font-size: 4em;
}
form div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    /* width: 100%;0 */
}
#inscription div:nth-child(1)
{
    grid-column: 1;
    grid-row: 1;
}
#inscription div:nth-child(2)
{
    grid-column: 2;
    grid-row: 1;
}
#inscription div:nth-child(3)
{
    grid-column: 1;
    grid-row: 2;
}
#inscription div:nth-child(4)
{
    grid-column: 2;
    grid-row: 2;
}
#inscription div:nth-child(5)
{
    grid-column: 1;
    grid-row: 3;
}
#inscription div:nth-child(6)
{
    grid-column: 2;
    grid-row: 3;
}
.invisible
{
    visibility: hidden;
}
.ligne
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.lisible
{
    margin-right: 5.5em;
}
#ligneCo
{
    justify-content: center;
    align-items: flex-end;
}
.ligne input, .ligne a
{
    margin-left: 5px;
}
#secInscr input[type=submit]
{
    background-color: rgba(67, 224, 104, 0.7);
    box-shadow: inset black 0 0 20px;
    border: none;
    color: white;
    font-family: "Sancreek";
}

/* Interaction */

a:hover p
{
    color: red;
}
a:hover .ongletFocus, #focus
{
    visibility: visible;
}
a:visited
{
    color: black;
}
#secInscr input[type=submit]:hover
{
    background: rgba(67, 224, 104, 1);
    width: 21em;
}
#secInscr input[type=submit]:active
{
    color: green;
    box-shadow: inset green 0 0 12px 3px;
}

@media screen and (max-width: 430px){
    #burger
    {
        display: flex;
        margin: auto;
        z-index: 6;
        transition: 0.5s;
        position: absolute;
        top: 0;
        bottom: none;
        /* justify-content: center; */
    }
    .active
    {
        top: none;
        bottom: -30em;
        position: fixed;
    }
    #burger img
    {
        width: 15em;
        height: auto;
    }
    nav a input, #titre, #imgInscr, nav a:not(#burger) img, nav a p, #deco
    {
        display: none;
    }
    #head
    {
        background: none;
    }
    #secInscr
    {
        margin-top: -10em;
        /* margin-bottom: 50em; */
    }
    #imgInscrV
    {
        display: block;
        width: 26em;
        height: 70em;
        margin: auto;
    }

    #inscription, #inscription div
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #inscription div:nth-child(1)
    {
        grid-column: 1;
        grid-row: 1;
    }
    #inscription div:nth-child(2)
    {
        grid-column: 1;
        grid-row: 2;
    }
    #inscription div:nth-child(3)
    {
        grid-column: 1;
        grid-row: 3;
    }
    #inscription div:nth-child(4)
    {
        grid-column: 1;
        grid-row: 4;
    }
    #inscription div:nth-child(5)
    {
        grid-column: 1;
        grid-row: 5;
    }
    #inscription div:nth-child(6)
    {
        grid-column: 1;
        grid-row: 6;
    }
    #secInscr input[type=checkbox]
    {
        width: 2em;
        height: 2em;
    }
    .ligne
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .lisible
    {
        font-size: 1.5em;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
    }
    
    #foot
    {
        /* bottom: -28em; */
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    
    #container
    {
        display: none;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;
        width: 100%;
        height: 90%;  
    }
    .menuBruger
    {
        display: block;
    }
    #modal
    {
        width: 100%;
        height: 100%;
    }
    #modal ul
    {
        display: flex;
        flex-direction: column;
    }
    #modal ul li
    {
        color: white;
        font-size: 2em;
        margin: 0.85em;
        z-index: 5;
        list-style-type: none;
    }
}